# -----------------------------
# Ignore everything by default
# -----------------------------
*

# -----------------------------
# Allow app (Backend) source
# -----------------------------
!app/
!app/**

# -----------------------------
# Allow client (Frontend) source
# -----------------------------
!client/
!client/**

# -----------------------------
# Explicit Frontend Ignores
# -----------------------------
client/node_modules/
client/dist/
client/.env
client/.env.local
client/.eslintcache
# -----------------------------
# Allow repo essentials
# -----------------------------
!.gitignore
!README.md
!docker-compose.yml
!Dockerfile
!.env.example
!requirements.txt
!SETUP.md
!app-policy.hcl
!LICENSE

# -----------------------------
# Explicit safety ignores (Global)
# -----------------------------
alembic/
.env*
vault/
vault-config/
postgres_data/
qdrant_data/
temp_uploads/
__pycache__/
*.pyc
*.log
.DS_Store